.grafiek {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28em;
}

.grafiek > div {
    position: relative;
    width: calc(60px + 65vmin);
    height: calc(60px + 47vmin);
}

#myChart {
    background: linear-gradient(210deg, var(--linearColors));
    border-radius: 15px;
    padding: 1em;
    box-sizing: border-box;
    padding-bottom: initial;
    border: 3px solid black;
}

@media only screen and (min-width: 768px) {
    .grafiek {
        height: 36em;
    }
}

@media only screen and (min-height: 1000px) {
.grafiek {
    height: 44em;
}
}