.grafiek {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48vh;
}

.grafiek > div {
    position: relative;
    width: calc(60px + 65vmin);
    height: calc(60px + 47vmin);
}

#myChart {
    background: linear-gradient(210deg, var(--linearColors));
    border-radius: 15px;
    padding: 1em;
    box-sizing: border-box;
    padding-bottom: initial;
    border: 3px solid black;
}

@media only screen and(min-width: 768) {
    .grafiek {
        height: 58vh;
    }
}
