body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100vh;
  box-sizing: border-box;
  border: 1.5em solid black;
  border-image: linear-gradient(210deg, var(--linearColors));
  border-image-slice: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --linearColors: #28b7c4 0%, #1e7edf 25%, #8655b8 50%, #ad30ad 75%, #e619e6 100%;
}
