body {
  background-color: #282c34;
  margin: 0;
  border-top: calc(0.3em + 1vmin) solid;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100vh;
  box-sizing: border-box;
  border-image: linear-gradient(210deg, var(--linearColors));
  border-image-slice: 1;
  position: relative;
  background-image: url('./images/weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.indexDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.language{
  position: absolute;
  transition: all 0.1s ease;
  right: calc(1px + 0.5vmin);
  top: calc(1px + 0.5vmin);
  font-size: calc(5px + 0.8vmin);
  height: calc(23px + 1vmin);
  width: calc(33px + 5vmin);
  background-color: #ba78bc;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  text-shadow: 1px 1px 1px black;
}

.menu {
  transition: all 0.1s ease;
  font-size: calc(5px + 2vmin);
    height: calc(20px + 3vmin);
    width: calc(30px + 6vmin);
  margin-right: 0.5em;
  background-color: #ba78bc;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  text-shadow: 1px 1px 1px black;
}

.ulMenu {
  display:flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0,0);
  border-left: 2px solid white;
}

nav {
  display: flex;
  left: calc(1px + 0.5vmin);
  top: calc(1px + 0.5vmin);
  position: absolute;
}

.menuOpt {
  font-size: calc(6px + 1.5vmin);
  padding: 5px;
  cursor: pointer;
  transition: color 0.25s ease;
}

.menuOpt:hover {
  color: #28b7c4;
}

:root {
  --linearColors: #28b7c4 0%, #1e7edf 25%, #8655b8 50%, #ad30ad 75%, #e619e6 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .menu {
    margin-bottom: 0.6em;
  }
  .ulMenu {
    flex-direction: column;
  }
  nav {
    flex-direction: column;
  }
}