@charset 'UTF-8';
/* Maak gebruik van media queries. Zonder is onmogelijk om op elk scherm goed uit te komen.*/ 

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
}

header li {
  list-style: none;
  text-align: center;
}

.intro {
  display: none;
  visibility: hidden;
}

header p {
  animation-name: appear;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  margin-bottom: 2em;
  font-size: 1.2em;
}
.buttonEen, .buttonTwee {
  background-size: 1px 90px;  
  transition: background-position 0.6s ease-in;
}

.buttonEen:hover, .buttonTwee:hover {
  background-position: 1px;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 40rem;
  justify-content: space-evenly;
}

button {
  width: 14rem;
  height: 5rem;
  background: linear-gradient(0deg, #00eaff 0%, #0080ff 25%, #8655b8 50%, #ad30ad 75%, #e619e6 100%);
  font-size: 1em; 
  font-weight: bold;
  text-shadow: 2px 2px black;
  color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 6px black;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
   50% {
    opacity: 0.5;
   }
   75% {
     opacity: 0.75;
   }
   100% {
    opacity: 1;
   }
}

