.welcome {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.welcome > header {
  margin-bottom: calc(50px + 7vmin);
 }

 h1 {
  font-size: calc(12px + 6vmin);
  text-align: center;
  text-shadow: 1px 1px 1px rgb(104, 188, 243);
}

p {
  font-size: calc(10px + 1.5vmin);
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.button:hover {
  background-position: 1px;
}

@keyframes loadBright {
  0% {background-position: initial;}
  50% {background-position: 1px;}
  100% {background-position: initial;}
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: calc(50px + 70vmin);
}

.button {
  height: calc(25px + 7vmin);
  width: calc(40px + 18vmin);
  background: linear-gradient(0deg, var(--linearColors));
  transition: background-position 0.6s ease-in;
  background-size: 1px 110px; 
  font-size: calc(5px + 2vmin);
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 4px black;
  border: 1px solid white;
  animation-name: loadBright;
  animation-duration: 1.8s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

.credit {
  font-size: calc(5px + 1.1vmin);
  position: absolute;
  bottom: 1em;
  text-shadow: 1px 1px black;
  font-style: italic;
  opacity: 0.8;
  right: 0.1em;
}