main, header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grafiek {
    height: 500px;
}

#myChart {
    background: linear-gradient(210deg, var(--linearColors));
}

.zoekVak {
    height: 20vh;
    border: 1px solid white;
}

p {
    text-align: center;
}

.analyse {
    height: 20vh;
    border: 1px solid white;
}

input {
    width: 8em;
    height: 1em;
    border-width: 3px;
    border-image: linear-gradient(210deg, var(--linearColors));
    border-image-slice: 1;
}