.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

.hMarge{
    margin-top: 1.2em;
  }

select {
    width: 100%;
    margin-bottom: 2em;
    padding: 6px;
    font-size: calc(10px + 1vmin);
    outline: none;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px black;
    border: 3px ridge #28b7c4;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

select > option {
    background-color: white;
    color: #28b7c4;
}

select > option:nth-child(1) {
    display: none;
}

.zoekVak {
    height: 7em;
    display: flex;
}

.search {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(115px + 27vmin);
}

.inputVak {
    position: relative;
    height: calc(30px + 2.5vmin);
    width: 100%;
}

.inputVak > button {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 20%;
    border: 5px ridge #28b7c4;
    background: #f0f0f0 url('./images/loupe-2.png');
    background-position: center;
    background-repeat: no-repeat;
    border-left: none;
    background-color: white;
    cursor: pointer;
}

input {
    position: absolute;
    left: 0px;
    width: 80%;
    height: 100%;
    border: 5px ridge #28b7c4;
    padding: 1px;
    border-right: 1px solid #28b7c4;
    outline: none;
    font-size: calc(10px + 1vmin);
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
 
  @media only screen and (min-width: 375px) {
    select {
        margin-bottom: 1em;
    }
  }

  @media only screen and (min-width: 768px) {
    .hMarge{
        margin-top: 0.67em;
    }

    .search {
        flex-direction: row;
        width: calc(50px + 71vmin);
    }
    .inputVak {
        width: 65%;
    }
    select {
        margin-bottom: 0px;
        margin-right: 2em;
        width: 65%;
    }
    .zoekVak {
        height: 3em;
    }

    .inputVak > button {
        background: #f0f0f0 url('./images/loupe.png');
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
  }